<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">        
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home" , new { Area = "" })" class="nav-link active"><i class="nav-icon fas fa-dashboard"></i><p>DashBoard</p></a>
        </li>
        <li class="nav-item">
            <a href="home/about" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    Masters
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Restaurant" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Restaurant Master</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "FoodCategory" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Food Category Master</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Menu" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Menu Master</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Table" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Table Master</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "UserType" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>User Type Master</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "User" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>User Master</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Employee" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Employee</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    Restaurant
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home" , new { Area = "" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Take Order</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home" , new { Area = "" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Todays Close Order</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                    Reports
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("TodaysOrderReport", "Reports" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Todays Order</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("AttendanceReport", "Reports" , new { Area = "Masters" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Attendance</p>
                    </a>
                </li>
                @*<li class="nav-item">
                    <a href="@Url.Action("Index", "Home" , new { Area = "" })" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Category wise Menu</p>
                    </a>
                </li>*@
            </ul>
        </li>

    </ul>
</nav>