@model SmartRestaurant.Model.RptOrderSearchModel

<p>
    @using (Html.BeginForm())
    {        
        <div class="form-group row">            
            <div class="col-md-6 pull-right">
                <input type="submit" value="Search" class="btn btn-success fa-search" />
            </div>
        </div>
    }
</p>
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">            
            <div class="card-body table-responsive p-0" style="height: 450px;">
                <table id="tblAttendenceDtl" class="table text-nowrap">
                    <thead>
                        <tr>
                            <th width="05%">
                                @Html.DisplayName("Employee Id")
                            </th>
                            <th width="45%">
                                @Html.DisplayName("Employee Name")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("In Time")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("Out Time")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("Day")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("Working Hrs")
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.LstAttendences)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayName(item.Employee_Id.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Employee_Name.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Intime)
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Outtime.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Date.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.WorkingHRS.ToString())
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
<link href="~/Content/Theme/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/Theme/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/Theme/plugins/jquery/jquery.min.js"></script>

<script src="~/Content/Theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/Theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/Theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/Theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/Theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/Theme/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/Theme/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/Theme/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/Theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/Theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/Theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
