@model SmartRestaurant.Model.RptOrderSearchModel

<p>
    @using (Html.BeginForm())
    {        
        <div class="form-group row">            
            <div class="col-md-6 pull-right">
                <input type="submit" value="Search" class="btn btn-success fa-search" />
            </div>
        </div>
    }
</p>
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">            
            <div class="card-body table-responsive p-0" style="height: 450px;">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="05%">
                                @Html.DisplayName("Emp Id")
                            </th>
                            <th width="45%">
                                @Html.DisplayName("Employee Name")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("In Time")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("Out Time")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("Day")
                            </th>
                            <th width="10%">
                                @Html.DisplayName("Working Hrs")
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.LstAttendences)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayName(item.Employee_Id.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Employee_Name.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Intime)
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Outtime.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.Date.ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayName(item.WorkingHRS.ToString())
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
<link href="~/Content/Theme/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/Theme/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Content/Theme/plugins/jquery/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["csv", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>
